# executable file
a.out
minishell
*.a

# search directory
search/

# .txt file
# *.txt
# *test*
RESULT_LOG*

# objs file
*.o

# sh file
*.sh

# other directory or file
.DS_Store
.DS_Store?
*.dSYM
**/.vscode
**/.history
